#root {
  font-family: monospace;
  font-size: 16px;
  font-weight: 800;
  color: #fdfdfd;
  /* border: 2px solid green; */
}

body {
  margin: 0;
  padding: 0 ;
  background-image: url("https://i.postimg.cc/Kvx8G1hZ/Grau-ski-bild-dunkel.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.btn {
  font-size: 16px;
  transition: background-color 0.3s;
  animation: gradient 15s ease infinite;
  width: auto;
  height: auto;
  background-color: blueviolet;
}

/* @keyframes parallax {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-1 {
  background-image: url(https://i.postimg.cc/JzrkPT1B/winter-aesthetic-morning-foggy-moon-landscape-cold-5k-5786x3254-497.jpg);
  height: 400px; 
}

.parallax-2 {
  background-image: url(https://i.postimg.cc/JzrkPT1B/winter-aesthetic-morning-foggy-moon-landscape-cold-5k-5786x3254-497.jpg);
  height: 600px; 
} */
