#root {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 2px solid #000000; */
}

/* Globale Stile */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-image: url("https://i.postimg.cc/JzrkPT1B/winter-aesthetic-morning-foggy-moon-landscape-cold-5k-5786x3254-497.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* @keyframes parallax {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-1 {
  background-image: url(https://i.postimg.cc/JzrkPT1B/winter-aesthetic-morning-foggy-moon-landscape-cold-5k-5786x3254-497.jpg);
  height: 400px; 
}

.parallax-2 {
  background-image: url(https://i.postimg.cc/JzrkPT1B/winter-aesthetic-morning-foggy-moon-landscape-cold-5k-5786x3254-497.jpg);
  height: 600px; 
} */
