.wrapper-container-homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 2px solid #00f625; */
}

.masthead {
  text-align: center;
  padding: 50px 0 50px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  height: 50vh;
  width: 100%;
  background-image: url(https://i.postimg.cc/k57nZgm6/mountain-ski-slope-wallpaper-5120x2160.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 2px solid #00f625; */
}

.masthead-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid #00f625; */
}

.wrapper-container-homepage h2 {
  margin-bottom: 20px;
  text-align: center;
  margin: 30px 0 30px 0;

}

.wrapper-container-homepage p {

  margin-bottom: 20px;
  text-align: justify;
  /* border: 2px solid #00f625; */
  margin: 30px 0 30px 0;
}

.section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.section-subheading {
  margin: 0 0 30px 0;
  word-break: break-word;
  text-align: justify;
}

.service-wrapper {
  /* border: 2px solid #00f625; */
  display: flex;
  flex-direction: row;
  text-align: center;
}

.service-wrapper > div {
  border: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
  margin: 0px 0 20px 0;
}

.service-wrapper h3 {
  color: #000000;
}

.service-wrapper p {
  text-align: justify;
}
