.wrapper-container-homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.masthead {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  padding: 100px 0;
  /* border: 2px solid #000000; */
}

.masthead-subheading {
  font-size: 24px;
  margin-bottom: 20px;
  /* border: 2px solid #ff0000; */
}

.masthead-heading {
  font-size: 25px;
  margin-bottom: 30px;
  /* border: 2px solid #00f625; */
}

.homepage-btn {
  background-color: #145aa0;
  font-size: 18px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  /* border: 2px solid #9a00dc; */
}

.homepage-btn:hover {
  background-color: #e74c3c;
}

.section-heading {
  font-size: 36px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  width: 25%;
  margin: auto auto 30px auto;
}

.section-subheading {
  font-size: 18px;
  margin: auto auto 30px auto;
  width: 100%;
  word-break: break-word;
  /* border: 2px solid #ee0e1d; */
  text-align: justify;
}

.my-3 {
  font-size: 24px;
  margin: auto auto 30px auto;
  /* border: 2px solid #1b00e4; */
}

.my-3:hover {
  color: #e73c3c;
}
.footer-wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  width: 98%;
  margin: auto;
  border-radius: 8px;
}

.footer-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px;

}
.footer-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  margin: 5px;
}
.footer-btn button {
  /* border: solid 2px #f80000; */
  background-color: transparent;
  border-radius: 5px;
  align-items: center;
  transition: background-color 0.3s;
}

.footer-btn button:hover {
  background-color: #505050;
}

.footer-btn button i {
  font-size: 24px;
}


.footer-box a {
  text-decoration: none;
  color: #000000;
  
}

@media (max-width: 768px) {
  .masthead-heading {
    font-size: 48px;
  }

  .homepage-btn {
    font-size: 16px;
    padding: 10px 20px;
  }
}
