.wrapper-container-homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0 0 0;
  /* border: 2px solid #000000; */
}

.masthead {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 50px 0 50px 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 25px;
  /* border: 2px solid #000000; */
}

.masthead-subheading {
  font-size: 2em;
  margin-bottom: 20px;
  /* border: 2px solid #ff0000; */
}

.masthead-heading {
  font-size: 1.5em;
  /* border: 2px solid #00f625; */
}


.section-heading {
  font-size: 2.5em;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  margin: 0 0 30px 0;
}

.section-subheading {
  font-size: 1.5em;
  margin: 0 0 30px 0;
  padding: 50px 0 50px 0;
  width: 100%;
  word-break: break-word;
  text-align: justify;
}

.my-3 {
  font-size: 24px;
  margin: auto auto 30px auto;
  /* border: 2px solid #1b00e4; */
}

.footer-wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  margin: auto;
  padding: 10px ;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.footer-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2em;

}
.social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.footer-box a {
  text-decoration: none;
  color: #000000;
}

@media (max-width: 768px) {
  .masthead-heading {
    font-size: 48px;
  }

  .homepage-btn {
    font-size: 16px;
    padding: 10px 20px;
  }
}
