.logIn-Wrapper {
  max-height: 100vh;  
  max-width: 400px; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  border: rgb(83, 82, 82) solid 2px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(87, 87, 87, 0.75);
  background-color: rgba(255, 255, 255, 0.3);
}

.user-log-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  
}

.logIn-Title {
  font-size: 2rem;
  margin: 20px;
}

.logIn-Title:hover {
  animation: colorTransition 6s linear infinite;
}

log-in-form {
  border-radius: 8px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  /* box-sizing: border-box; */
}

.btn-container {
  display: flex;
  justify-content: space-around;

}




@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
