.logIn-Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh auto;
  width:20%;
  margin: 1% auto;
}

.user-log-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}

.logIn-Title {
  font-size: 2rem;
  margin: 20px;
}

.logIn-Title:hover {
  animation: colorTransition 6s linear infinite;
}

log-in-form {
  border-radius: 8px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  /* box-sizing: border-box; */
}

.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}




@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
