/* LogIn-Wrapper */
.logIn-Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  height: auto;
  max-width: 500px; /* Ändern Sie die maximale Breite für bessere Darstellung */
  width: 100%;
  margin: 1% auto;
  background: linear-gradient(135deg, #3498db, #006f57);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}

.logIn-Title {
  font-size: 2rem;
  color: #fff;
  margin: 20px;
}

.logIn-Title:hover {
  animation: colorTransition 6s linear infinite;
}

log-in-form {
  border-radius: 8px;
  padding: 30px;
  width: 100%;
  max-width: 400px; /* responsive max. breite  */
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.logIn-Btn,
#signUp-Btn {
  background: linear-gradient(-45deg, #01099b, #43e0fc, #007d3f, #23d5ab);
  background-size: 400% ;
  animation: gradient 15s ease infinite;
  color: #fff;
  border: none;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 45% ;
  height: 45px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.logIn-Btn:hover,
#signUp-Btn:hover {
  background-color: #2980b9;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
