
.sign-up-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; /* Ändern Sie die Höhe auf automatisch, um den Inhalt anzupassen */
  max-width: 500px; /* Ändern Sie die maximale Breite für bessere Darstellung */
  width: 90%; /* Ändern Sie die Breite auf 90% für bessere Darstellung */
  margin: 1% auto;
  background: linear-gradient(135deg, #3498db, #006f57);
  border-radius: 8px;
  padding: 20px; /* Hinzufügen von Padding für bessere Darstellung */
  box-sizing: border-box;
}

.sign-up-title {
  font-size: 2rem;
  margin: 20px;
}

.sign-up-title:hover {
  animation: colorTransition 6s linear infinite;
}

@keyframes colorTransition {
  0% {
    color: #01099b;
  }
  33% {
    color: #43e0fc; 
  }
  66% {
    color: #007d3f; 
  }
  100% {
    color: #23d5ab; 
  }
}

.sign-up-form {
  border-radius: 8px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-sizing: border-box; 
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-3 input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

.mb-3 label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 18px;
}

.mb-3 input:focus {
  border: #013fcf solid 2px;
}

#signUp-Btn {
  background-color: #03a906;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  width: 45%; 
}

#signUp-Btn:hover {
  transition: all 0.3s ease-in-out;
  background-color: #022ca1;
}
