.sign-up-wrapper {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(87, 87, 87, 0.75);
  background-color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  background-image: url(https://media3.giphy.com/media/tIHktzgRi8yjIplFVI/giphy.gif?cid=ecf05e478n3b2zwoxig95o8gk4h0o1i8cq580csads5ece1v&ep=v1_stickers_search&rid=giphy.gif&ct=s);
}

.sign-up-title {
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 20px;
}

.sign-up-form {
  /* border: 1px solid black; */
  width: 100%;
  margin: 0 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
}

.mb-3 input {
  border-radius: 5px;
  margin-bottom: 15px;
}

Form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.signUp-btn {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  gap: 10px;
}
