.activity-wrapper-container {
  padding: 0px 0px 0px 25px;
  margin: 25px ;
  /* background-color: rgba(255, 255, 255, 0.4); */
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.activity-wrapper {
  /* border: 1px solid red; */
  padding: 0 0 0 0;
  margin: 0px 18% 0px 0px;
  display: flex;
  flex-wrap: wrap;
}
.inner-details {
  /* border: 1px solid red; */
  margin: 0 0 0 20px;
}

table.details {
  border-collapse: collapse;
  /* border: 1px solid red; */
  max-width: 250px;
}

table.details td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  /* border: 1px solid #be0000; */
}

table.details th {
  font-weight: bold;
  text-align: left;
  font-size: 25px;
}

table.details td {
  text-align: left;
  font-size: 20px;
}
.booking-btn {
  margin: 20px 0 0 0;
}
h1 {
  /* border: 1px solid red; */
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 25px;
}
.activity-wrapper img {
  /* border: 1px solid red; */
  width: 720px;
  border-radius: 10px;
}

.activity-description {
  display: flex;
  flex-direction: column;
  text-align: justify;
  word-break: break-word;
  font-size: 20px;
  padding: 10px 25% 0 10%;
  margin: 0 0 0 20px;
}

.activityDetails-date {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.activityDetails-date p {
  font-size: 0.8rem;
}
