.activities-wrapper {
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
}


.seasonContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  /* border: 2px solid red; */
}

.season-btn {
  background: linear-gradient(-45deg, #3498db, #006f57);
  border-radius: 5px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

}

.season-btn:hover {
  background: linear-gradient(-45deg, #006f57, #3498db);
}

/* Winter-Buttons */

#winter-btn,
#summer-btn {
  background: linear-gradient(-45deg, #3498db, #006f57);
  border-radius: 5px;
  font-size: 1.2rem;
  display: flex; 
  justify-content: flex-start;
  align-items: center; 
  height: 45px;
  
}

#winter-btn:hover,
#summer-btn:hover {
  background: linear-gradient(-45deg, #006f57, #3498db);
}

#winterCourse-Btn {
  background: linear-gradient(-45deg, #3498db, #006f57);
  border-radius: 5px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 25%;
  margin: 5px;
}

#winterCourse-Btn:hover {
  background: linear-gradient(-45deg, #006f57, #3498db);
}

/* Animationen */
@keyframes colorTransition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.winterActivityBox {
  width: 100%;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  margin: 10px auto;

  /* border: #3498db 2px solid; */
}
#cardBox {
  /* border: 2px green solid;  */
  width: 350px;
  height: 100%;
}

.card-body {
  /* border: 2px solid rgb(128, 0, 122); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.information-box {
  /* border: 2px green solid; */
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
}

/* Kurs-Container */

.winterActivityBox img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.winterActivityBox.open {
  max-height: 100%;
  opacity: 1;
}

.winterActivityBox.closed {
  max-height: 0;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .seasonContainer {
    width: 100%;
    max-width: none;
  }

  .navbar {
    padding: 10px;
  }

  .main-content {
    margin: 10px;
  }
}

@media (max-width: 576px) {
  .seasonContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    padding: 10px;
  }

  .main-content {
    margin: 10px;
  }

  .winterActivityBox {
    width: 80%;
  }
}
