.activities-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.winter-titel {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 25px;

}

.seasonContainer {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  width: 100%;
  /* max-width: 500px;  */
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  /* border: #1dd00c 2px solid; */
}

.season-btn,
#winter-btn,
#summer-btn {
  background: linear-gradient(-45deg, #3498db, #006f57);
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 100%;
  transition: background 0.3s ease-in;
  font-size: 1.5rem;
}

.season-btn:hover,
#winter-btn:hover,
#summer-btn {
  background: linear-gradient(-45deg, #006f57, #3498db);
}

/* Winter-Buttons */

#winter-btn,
#summer-btn {
  font-size: 1.5rem;
  width: 15%;
  /* margin-bottom: 10px; */
}

/* Kurs-Container */

.courseContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 10px ;
  border-bottom: 1px solid #ccc;
}

.information-box {
  border: 2px solid #1dd00c;
  border-radius: 5px;
  padding: 10px; 
  width: 100%;
  margin: 10px 0;
}

#winterCourse-Btn {
  background: linear-gradient(-45deg, #3498db, #006f57);
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background 0.3s ease-in;
  font-size: 1.2rem;
  margin: 10px auto; 
  padding: 10px; 
  width: 50%; 
  display: block; 
  color: white;
}

#winterCourse-Btn:hover {
  background: linear-gradient(-45deg, #006f57, #3498db);
}

/* Animationen */

@keyframes colorTransition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card-body {
  height: auto; 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: height 0.3s ease-in;
  border-radius: 5px;
}

/* Akkordion-Animation für die Winter-Kurs-Box */
.winterActivityBox {
  height: 100%;
  overflow: hidden;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
  opacity: 0;
}

.winterActivityBox img {
  width: 100%;
  height: auto; 
  object-fit: cover;
  object-position: center;
}

.winterActivityBox.open {
  max-height: 100%;
  opacity: 1;
}

.winterActivityBox.closed {
  max-height: 0;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .seasonContainer {
    width: 100%; 
    max-width: none; 

  }

  .navbar {
    padding: 10px;
  }

  .main-content {
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 5px;
  }

  .main-content {
    margin: 5px;
  }
}